

services:
  
  db:
    image: postgres:15
    container_name: stock_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
  db_test:
    image: postgres:15
    container_name: stock_db_test
    environment:
      POSTGRES_DB: stock_analysis_test
      POSTGRES_USER: stock_user
      POSTGRES_PASSWORD: 7648
    ports:
      - "5433:5432"
  
  
  app:
    build: 
      context: .
      target: prod
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  test:
    build:
      context: .
      target: test
    depends_on:
      - db_test
    environment:
      POSTGRES_HOST: db_test
      POSTGRES_PORT: 5432
      POSTGRES_DB: stock_analysis_test
      POSTGRES_USER: stock_user
      POSTGRES_PASSWORD: 7648