fastapi==0.129.0
numpy==2.4.2
pandas==3.0.1
pydantic_core==2.41.5
PyJWT==2.11.0
pytest==8.4.2
python-dotenv==1.2.1
python_bcrypt==0.3.2
SQLAlchemy==2.0.46
yfinance==1.1.0
psycopg2-binary
pydantic[email]==2.12.5
uvicorn
gunicorn
