name: CI

on:
    push:
        branches: [main]
    pull_request:
jobs:
    test_and_build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            - name: Install dependencies
              run: |
                pip install -r requirements.txt
                pip install pytest
            - name: Run tests
              run: PYTHONPATH=. pytest
            - name: Build Docker image
              run: docker build -t stock-analysis .



