name: CI

on:
    push:
        branches: [main]
    pull_request:
jobs:
    test_and_build:
        runs-on: ubuntu-latest

        services:
            postgres:
                image: postgres:15
                env:
                    POSTGRES_USER: test
                    POSTGRES_PASSWORD: test
                    POSTGRES_DB: test_db 
        env:
            DB_HOST: localhost
            DB_PORT: 5432
            DB_NAME: test
            DB_USER: test
            DB_PASSWORD: test
            DB_NAME_TEST: test_db
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            - name: Install dependencies
              run: |
                pip install -r requirements.txt
                pip install pytest
            - name: Run tests
              run: PYTHONPATH=. pytest
            - name: Build Docker image
              run: docker build -t stock-analysis .



